- name: system setup | openssh | install daemon package (Arch)
  tags:
    - openssh
    - ssh
    - system
    - settings
  ansible.builtin.pacman:
    name: openssh
    state: latest
  when: facts_is_arch
  notify: restart_sshd

- name: system setup | openssh | install daemon package (Ubuntu)
  tags:
    - openssh
    - ssh
    - system
    - settings
  ansible.builtin.apt:
    name: openssh-server
    state: present
    update_cache: true
  when: facts_is_ubuntu
  notify: restart_sshd

- name: system setup | openssh | enable daemon
  tags:
    - openssh
    - ssh
    - system
    - settings
  ansible.builtin.service:
    name: "{{ openssh.service }}"
    enabled: yes
    state: started

- name: system setup | openssh | ensure host keys exist
  tags:
    - openssh
    - ssh
    - system
    - settings
  become: true
  ansible.builtin.command: ssh-keygen -A
  changed_when: false

- name: system setup | openssh | generate sshd_config file from template
  tags:
    - openssh
    - ssh
    - system
    - settings
  become: true
  # no_log: true
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0644'
  notify: restart_sshd

- name: system setup | openssh | copy issue.net
  tags:
    - openssh
    - ssh
    - system
    - settings
  become: true
  no_log: true
  ansible.builtin.copy:
    src: system_setup/openssh_issue.net
    dest: /etc/issue.net
    owner: root
    group: root
    mode: '0644'
