---
# roles/volta/tasks/main.yml
- name: Check if Volta is installed
  ansible.builtin.command: "which volta"
  register: volta_check
  ignore_errors: true
  changed_when: false
  become: true
  become_user: "{{ host_user }}"
  tags:
    - volta
    - check

- name: Check if Node.js is installed via Volta
  ansible.builtin.command: "volta which node"
  register: node_check
  failed_when: false
  changed_when: false
  become: true
  become_user: "{{ host_user }}"
  when: volta_check.rc == 0
  tags:
    - volta
    - node
    - check

- name: Install Node.js LTS
  ansible.builtin.shell: "volta install node@lts"
  become: true
  become_user: "{{ host_user }}"
  when: volta_check.rc == 0 and node_check.rc != 0
  tags:
    - volta
    - node

- name: Check if Wrangler is installed via Volta
  ansible.builtin.command: "volta which wrangler"
  register: wrangler_check
  failed_when: false
  changed_when: false
  become: true
  become_user: "{{ host_user }}"
  when: volta_check.rc == 0
  tags:
    - volta
    - wrangler
    - check

- name: Install Wrangler via Volta
  ansible.builtin.shell: "volta install wrangler"
  become: true
  become_user: "{{ host_user }}"
  when: volta_check.rc == 0 and wrangler_check.rc != 0
  tags:
    - volta
    - wrangler
