---
- name: Install UFW on Arch Linux
  ansible.builtin.pacman:
    name: ufw
    state: present
  when: facts_is_arch

- name: Install UFW on Ubuntu
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true
  when: facts_is_ubuntu

- name: Enable and start UFW
  ansible.builtin.systemd:
    name: ufw
    enabled: true
    state: started

- name: Allow all traffic on Tailscale interface
  ansible.builtin.ufw:
    rule: allow
    interface_in: "{{ ufw_tailscale_interface }}"
    from_ip: "any"
  notify: Restart UFW

- name: Allow SSH on public interface
  ansible.builtin.ufw:
    rule: allow
    port: "{{ ssh_port | default(22) }}"
    proto: tcp
  notify: Restart UFW

- name: Set default UFW policies (incoming)
  ansible.builtin.ufw:
    state: enabled
    policy: deny
    direction: incoming
  notify: Restart UFW

- name: Set default UFW policies (outgoing)
  ansible.builtin.ufw:
    state: enabled
    policy: allow
    direction: outgoing
  notify: Restart UFW

- name: Set default UFW policies (routed)
  ansible.builtin.ufw:
    state: enabled
    policy: deny
    direction: routed
  notify: Restart UFW
