# Set Zsh as the default shell for sillypoise
- name: "Set Zsh as default shell for {{ host_user }}"
  ansible.builtin.user:
    name: "{{ host_user }}"
    shell: /bin/zsh
  become: true
  when: facts_zsh_installed
  tags:
    - shell

- name: Ensure /bin/zsh symlink points to Nix Zsh binary
  ansible.builtin.file:
    src: "/home/{{ host_user }}/.nix-profile/bin/zsh"  # Adjust if the Nix-installed Zsh is in a different location
    dest: "/bin/zsh"
    state: link
  when: facts_nix_installed
  tags:
    - shell
    - environment
    - zsh

- name: "Fetch {{ host_user }} passwd"
  become_user: "{{ host_user }}"
  ansible.builtin.command:
    cmd: "op read 'op://sp-dev/user/hashed'"
  register: new_password
  no_log: true
  when: facts_op_installed

# TODO: non-idempotent
- name: "Set passwd for {{ host_user }}"
  ansible.builtin.user:
    name: "{{ host_user }}"
    password: "{{ new_password.stdout }}"
  become: true
  no_log: true
  when: facts_op_installed and new_password is defined and new_password.stdout | length > 0
