---
- name: Debug | Show current Ansible user
  ansible.builtin.debug:
    msg: "Ansible is using the user: {{ ansible_user }}"
  tags:
    - always

- name: Install Nix package manager in multi-user mode
  ansible.builtin.shell: |
    sh <(curl -L https://nixos.org/nix/install) --daemon
  args:
    creates: /nix/var/nix/profiles/default
  when: not facts_nix_installed
  tags:
    - nix
    - bootstrap
    - system
    - setup

- name: system setup | nix | add home-manager channel
  shell: |
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
    nix-channel --add https://github.com/nix-community/home-manager/archive/release-24.05.tar.gz home-manager
  become_user: "{{ host_user }}"
  when: not facts_home_manager_installed and (facts_bash_config_installed or facts_zsh_config_installed)
  args:
    executable: /bin/bash
  tags:
    - nix
    - home-manager

- name: system setup | nix | update nix channels
  shell: |
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
    nix-channel --update
  become_user: "{{ host_user }}"
  when: facts_bash_config_installed or facts_zsh_config_installed
  args:
    executable: /bin/bash
  tags:
    - nix
    - home-manager

- name: system setup | nix | install home-manager into profile
  shell: |
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
    nix-env -iA nixpkgs.home-manager
  become_user: "{{ host_user }}"
  # I think this is naturally idempotent
  # when: not facts_home_manager_installed and (facts_bash_config_installed or facts_zsh_config_installed)
  args:
    executable: /bin/bash
  tags:
    - nix
    - home-manager

- name: system setup | nix | create .config/nixpkgs directory for home manager config
  file:
    path: "{{ host_user_home }}/.config/home-manager"
    state: directory
    owner: "{{ host_user }}"
    group: "{{ host_user }}"
    # permissions so home-manager can write to it
    mode: "0755"
  tags:
    - nix
    - home-manager

- name: system setup | nix | copy home-manager configuration file
  copy:
    src: "{{ host_user }}/home.nix"
    dest: "{{ host_user_home }}/.config/home-manager/home.nix"
    owner: "{{ host_user }}"
    group: "{{ host_user }}"
    mode: "0644"
  tags:
    - nix
    - home-manager
    - packages

- name: system setup | nix | apply home-manager config
  become_user: "{{ host_user }}"
  shell: |
    . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
    home-manager switch -b backup -f {{ host_user_home }}/.config/home-manager/home.nix
  args:
    executable: /bin/bash
  when: facts_bash_config_installed or facts_zsh_config_installed
  register: hm_result
  changed_when: "'Activating installPackages' in hm_result.stdout"
  tags:
    - nix
    - home-manager
    - packages
